[Unit]
Description="Startup Script for AIT"
After=network.target

[Service]
Type=simple
ExecStart=/home/nos3/99-firstboot.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target