[submodule "fsw/apps/ci"]
	path = fsw/apps/ci
	url = https://github.com/nasa-itc/CFS_CI.git
[submodule "fsw/apps/to"]
	path = fsw/apps/to
	url = https://github.com/nasa-itc/CFS_TO.git
[submodule "fsw/apps/io_lib"]
	path = fsw/apps/io_lib
	url = https://github.com/nasa-itc/CFS_IO_LIB.git
[submodule "fsw/cfe"]
	path = fsw/cfe
	url = https://github.com/nasa-itc/cFE.git
[submodule "fsw/osal"]
	path = fsw/osal
	url = https://github.com/nasa-itc/osal.git
[submodule "fsw/psp"]
	path = fsw/psp
	url = https://github.com/nasa-itc/PSP.git
[submodule "fsw/tools/cFS-GroundSystem"]
	path = fsw/tools/cFS-GroundSystem
	url = https://github.com/nasa-itc/cFS-GroundSystem.git
[submodule "fsw/tools/elf2cfetbl"]
	path = fsw/tools/elf2cfetbl
	url = https://github.com/nasa-itc/elf2cfetbl.git
[submodule "fsw/apps/sch"]
	path = fsw/apps/sch
	url = https://github.com/nasa-itc/SCH.git
[submodule "fsw/apps/sc"]
	path = fsw/apps/sc
	url = https://github.com/nasa-itc/SC.git
[submodule "fsw/apps/cf"]
	path = fsw/apps/cf
	url = https://github.com/nasa-itc/CF.git
[submodule "fsw/apps/hk"]
	path = fsw/apps/hk
	url = https://github.com/nasa-itc/HK.git
[submodule "fsw/apps/cfs_lib"]
	path = fsw/apps/cfs_lib
	url = https://github.com/nasa-itc/cfs_lib.git
[submodule "fsw/apps/lc"]
	path = fsw/apps/lc
	url = https://github.com/nasa-itc/LC.git
[submodule "fsw/components/hwlib"]
	path = fsw/components/hwlib
	url = https://github.com/nasa-itc/hwlib.git
[submodule "fsw/apps/hs"]
	path = fsw/apps/hs
	url = https://github.com/nasa-itc/HS.git
[submodule "fsw/components/arducam"]
	path = fsw/components/arducam
	url = https://github.com/nasa-itc/arducam.git
[submodule "fsw/components/clyde_eps"]
	path = fsw/components/clyde_eps
	url = https://github.com/nasa-itc/clyde_eps.git
[submodule "fsw/components/novatel_oem615"]
	path = fsw/components/novatel_oem615
	url = https://github.com/nasa-itc/novatel_oem615.git
[submodule "sims/clyde_battery_sim"]
	path = sims/clyde_battery_sim
	url = https://github.com/nasa-itc/clyde_battery_sim.git
[submodule "sims/arducam_sim"]
	path = sims/arducam_sim
	url = https://github.com/nasa-itc/arducam_sim.git
[submodule "sims/clyde_eps_sim"]
	path = sims/clyde_eps_sim
	url = https://github.com/nasa-itc/clyde_eps_sim.git
[submodule "sims/nos_time_driver"]
	path = sims/nos_time_driver
	url = https://github.com/nasa-itc/nos_time_driver.git
[submodule "sims/novatel_oem615_sim"]
	path = sims/novatel_oem615_sim
	url = https://github.com/nasa-itc/novatel_oem615_sim.git
[submodule "sims/sim_common"]
	path = sims/sim_common
	url = https://github.com/nasa-itc/sim_common.git
[submodule "sims/sim_server"]
	path = sims/sim_server
	url = https://github.com/nasa-itc/sim_server.git
[submodule "sims/sim_terminal"]
	path = sims/sim_terminal
	url = https://github.com/nasa-itc/sim_terminal.git
[submodule "gsw/ait"]
	path = gsw/ait
	url = https://github.com/nasa-itc/gsw-ait.git
[submodule "gsw/OrbitInviewPowerPrediction"]
	path = gsw/OrbitInviewPowerPrediction
	url = https://github.com/nasa-itc/OrbitInviewPowerPrediction.git
[submodule "gsw/cosmos"]
	path = gsw/cosmos
	url = https://github.com/nasa-itc/gsw-cosmos.git
[submodule "fsw/components/generic_reaction_wheel"]
	path = fsw/components/generic_reaction_wheel
	url = https://github.com/nasa-itc/generic_reaction_wheel.git
[submodule "sims/generic_reaction_wheel_sim"]
	path = sims/generic_reaction_wheel_sim
	url = https://github.com/nasa-itc/generic_reaction_wheel_sim.git
[submodule "fsw/components/sample"]
	path = fsw/components/sample
	url = https://github.com/nasa-itc/sample_app.git
[submodule "sims/sample_sim"]
	path = sims/sample_sim
	url = https://github.com/nasa-itc/sample_sim.git
[submodule "sims/truth_42_sim"]
	path = sims/truth_42_sim
	url = https://github.com/nasa-itc/truth_42_sim.git
