#
# Metadata
#
.vagrant
.vscode
__pycache__
.Trash-1001

#
# Build Files
#
build
*.o
support/nos3_install.log
tmp
core.*
exp.jpg

#
# Misc
#
*.pcapng
.cdskeyfile
.reservedkeyfile
.resetkeyfile

#
# Documentation
#
docs/wiki/_build
docs/wiki/_templates
