[submodule "deployment"]
	path = deployment
	url = git@github.com:nasa-itc/deployment.git
[submodule "fsw/apps/ci"]
	path = fsw/apps/ci
	url = git@github.com:nasa-itc/CFS_CI.git
[submodule "fsw/apps/to"]
	path = fsw/apps/to
	url = git@github.com:nasa-itc/CFS_TO.git
[submodule "fsw/apps/io_lib"]
	path = fsw/apps/io_lib
	url = git@github.com:nasa-itc/CFS_IO_LIB.git
[submodule "fsw/cfe"]
	path = fsw/cfe
	url = git@github.com:nasa-itc/cFE.git
[submodule "fsw/osal"]
	path = fsw/osal
	url = git@github.com:nasa-itc/osal.git
[submodule "fsw/psp"]
	path = fsw/psp
	url = git@github.com:nasa-itc/PSP.git
[submodule "fsw/tools/cFS-GroundSystem"]
	path = fsw/tools/cFS-GroundSystem
	url = git@github.com:nasa-itc/cFS-GroundSystem.git
[submodule "fsw/tools/elf2cfetbl"]
	path = fsw/tools/elf2cfetbl
	url = git@github.com:nasa-itc/elf2cfetbl.git
[submodule "fsw/apps/sch"]
	path = fsw/apps/sch
	url = git@github.com:nasa-itc/SCH.git
[submodule "fsw/apps/sc"]
	path = fsw/apps/sc
	url = git@github.com:nasa-itc/SC.git
[submodule "fsw/apps/cf"]
	path = fsw/apps/cf
	url = git@github.com:nasa-itc/CF.git
[submodule "fsw/apps/hk"]
	path = fsw/apps/hk
	url = git@github.com:nasa-itc/HK.git
[submodule "fsw/apps/cfs_lib"]
	path = fsw/apps/cfs_lib
	url = git@github.com:nasa-itc/cfs_lib.git
[submodule "fsw/apps/lc"]
	path = fsw/apps/lc
	url = git@github.com:nasa-itc/LC.git
[submodule "fsw/components/hwlib"]
	path = fsw/components/hwlib
	url = git@github.com:nasa-itc/hwlib.git
[submodule "fsw/apps/hs"]
	path = fsw/apps/hs
	url = git@github.com:nasa-itc/HS.git
[submodule "fsw/components/arducam"]
	path = fsw/components/arducam
	url = git@github.com:nasa-itc/arducam.git
[submodule "fsw/components/clyde_eps"]
	path = fsw/components/clyde_eps
	url = git@github.com:nasa-itc/clyde_eps.git
[submodule "fsw/components/novatel_oem615"]
	path = fsw/components/novatel_oem615
	url = git@github.com:nasa-itc/novatel_oem615.git
