[Desktop Entry]
Version=1.0
Name=AVR-Build
Type=Application
Comment=Run the AVR Applications
Terminal=false
Icon=/home/nos3/nos3/support/VirtualMachine/icons/avr.png
Exec=/home/nos3/Desktop/avr-build.sh

X-Ayatana-Desktop-Shortcuts=AVR-Install;AVR-Build;

[AVR-Install Shortcut Group]
Name=AVR-Install
Exec=/home/nos3/Desktop/avr-install.sh
TargetEnvironment=Unity

[AVR-Build Shortcut Group]
Name=AVR-Build
Exec=/home/nos3/Desktop/avr-build.sh
TargetEnvironment=Unity
