[Desktop Entry]
Version=1.0
Name=NOS3-Run
Type=Application
Comment=Run the NOS3 Applications
Terminal=false
Icon=/home/nos3/nos3/support/VirtualMachine/icons/nos3.png
Exec=/home/nos3/Desktop/nos3-run.sh

X-Ayatana-Desktop-Shortcuts=NOS3-Build;NOS3-Run;NOS3-Stop

[NOS3-Build Shortcut Group]
Name=NOS3-Build
Exec=/home/nos3/Desktop/nos3-build.sh
TargetEnvironment=Unity

[NOS3-Run Shortcut Group]
Name=NOS3-Run
Exec=/home/nos3/Desktop/nos3-run.sh
TargetEnvironment=Unity

[NOS3-Stop Shortcut Group]
Name=NOS3-Stop
Exec=/home/nos3/Desktop/nos3-stop.sh
TargetEnvironment=Unity

