[Desktop Entry]
Name=NOS3-Run
Comment=Use NOS3
Exec=/home/nos3/Desktop/nos3-run.sh
Terminal=false
Type=Application
X-MultipleArgs=false
Icon=nos3
Categories=Utility;
X-GNOME-FullName=NASA Operational Simuluator for Small Satellites
StartupNotify=true
Actions=NOS3-Build;NOS3-Clean;NOS3-Run;NOS3-Stop;
X-Ubuntu-Gettext-Domain=NOS3-Build
X-AppStream-Ignore=true

[Desktop Action NOS3-Build]
Name=NOS3-Build
Exec=/home/nos3/Desktop/nos3-build.sh

[Desktop Action NOS3-Clean]
Name=NOS3-Clean
Exec=/home/nos3/Desktop/nos3-clean.sh

[Desktop Action NOS3-Run]
Name=NOS3-Run
Exec=/home/nos3/Desktop/nos3-run.sh

[Desktop Action NOS3-Stop]
Name=NOS3-Stop
Exec=/home/nos3/Desktop/nos3-stop.sh
