{
    "report_type":"Ground Station HTML",
    "base_output_directory":"/var/www/html/test/amsat",
    "timezone":"US/Eastern",
    "inviews":"True",
    "num_aer_days":"2",
    "start_day":"0",
    "end_day":"1",
    "ground_station": {
        "name":"Fairmont",
        "lat":"39.50417", 
        "lon":"-80.218615", 
        "el_meters":"359.664", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"10.0",
        "show_operations_hours":"false"
    },
    "satellites": [
        {
            "name":"STF-1 468.000",
            "number":"43852",
            "url":"http://www.celestrak.com/NORAD/elements/cubesat.txt",
            "receive_frequency":"450.000",
            "transmit_frequency":"468.000"
        },
        {
            "name":"SO-50 436.795",
            "number":"27607",
            "url":"http://www.celestrak.com/NORAD/elements/amateur.txt",
            "transmit_frequency":"436.795"
        },
        {
            "name":"AO-91 145.960",
            "number":"43017",
            "url":"http://www.celestrak.com/NORAD/elements/amateur.txt",
            "transmit_frequency":"145.960"
        },
        {
            "name":"AO-92 145.880",
            "number":"43137",
            "url":"http://www.celestrak.com/NORAD/elements/amateur.txt",
            "transmit_frequency":"145.880"
        }
    ]
}
