{
    "report_type":"Satellite HTML",
    "base_output_directory":"/var/www/html/test/iss",
    "timezone":"US/Eastern",
    "inviews":"True",
    "insun":"True",
    "start_day":"-1",
    "end_day":"1",
    "satellite": {
        "number":"25544",
        "url":"http://www.celestrak.com/NORAD/elements/stations.txt"
    },
    "ground_stations": [
        {
            "name":"Fairmont",
            "lat":"39.50417", 
            "lon":"-80.218615", 
            "el_meters":"359.664", 
            "tz":"US/Eastern",
            "minimum_elevation_angle":"10.0",
            "show_operations_hours":"False"
        }
    ]
}
