{
    "report_type":"Ground Station HTML",
    "base_output_directory":"/var/www/html/test/noaa",
    "timezone":"US/Eastern",
    "inviews":"True",
    "start_day":"0",
    "end_day":"7",
    "ground_station": {
        "name":"Fairmont",
        "lat":"39.50417", 
        "lon":"-80.218615", 
        "el_meters":"359.664", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"10.0",
        "show_operations_hours":"false"
    },
    "satellites": [
        {
            "name":"NOAA 15 137.62",
            "number":"25338",
            "url":"http://www.celestrak.com/NORAD/elements/weather.txt"
        },
        {
            "name":"NOAA 18 137.9125",
            "number":"28654",
            "url":"http://www.celestrak.com/NORAD/elements/weather.txt"
        },
        {
            "name":"NOAA 19 137.1",
            "number":"33591",
            "url":"http://www.celestrak.com/NORAD/elements/weather.txt"
        },
        {
            "name":"METEOR-M 2 137.9",
            "number":"40069",
            "url":"http://www.celestrak.com/NORAD/elements/weather.txt"
        },
        {
            "name":"Dellingr 468.0",
            "number":"43021",
            "url":"http://www.celestrak.com/NORAD/elements/cubesat.txt"
        }
    ]
}
