{
    "report_type":"Satellite HTML",
    "base_output_directory":"/var/www/html/test/stf1",
    "timezone":"US/Eastern",
    "inviews":"True",
    "contacts":"True",
    "insun":"True",
    "num_aer_days":"5",
    "time_step_seconds":"15",
    "start_day":"0",
    "end_day":"14",
    "satellite": {
        "name":"STF-1",
        "number":"43852",
        "url":"http://marksuder.ddns.net/stf1/stf1/electrontles.tle",
        "contact_name":"stf1",
        "receive_frequency":"450.0"
    },
    "ground_stations": [
        {
            "name":"Wallops",
            "lat":"37.854886", 
            "lon":"-75.512936", 
            "el_meters":"3.8", 
            "tz":"US/Eastern",
            "weather_url":"https://forecast.weather.gov/MapClick.php?lat=37.9407&lon=-75.4674#.XEng_FxKi71",
            "minimum_elevation_angle":"0.0",
            "show_operations_hours":"False",
            "operations_start_hour":"6", 
            "operations_start_minute":"0", 
            "operations_end_hour":"23", 
            "operations_end_minute":"30",
            "contact_schedule_directory":"/home/mark/googledrive/STF1/WFF-Schedule/",
            "aer_min_el":"10",
            "aer_keyhole_el":"75",
            "good_sectors": [
                {
                    "min_az":"0",
                    "max_az":"360",
                    "min_el":"10",
                    "max_el":"75"
                }
            ],
            "bad_sectors": [
                {
                    "min_az":"246",
                    "max_az":"258",
                    "min_el":"0",
                    "max_el":"12"
                }
            ]
        },
        {
            "name":"Greenbank 20m",
            "lat":"38.43685028", 
            "lon":"-79.825518056", 
            "el_meters":"842.0", 
            "tz":"US/Eastern",
            "weather_url":"https://forecast.weather.gov/MapClick.php?lat=38.43685&lon=-79.82552",
            "minimum_elevation_angle":"0.0",
            "show_operations_hours":"False"
        }
    ]
}
