{
    "report_type":"AzElCmdTelem",
    "show_track":"True",
    "base_output_directory":"/home/msuder/test/stf1",
    "timezone":"US/Eastern",
    "start_day":"0",
    "end_day":"0",
    "time_step_seconds":"15",
    "tle_dir": "/home/itc/Desktop/oipp-data/stf1/",
    "satellite": {
        "number":"43852",
        "file":"/home/itc/Desktop/oipp-data/stf1/stf1/electrontles.tle"
    },
    "ground_station": {
        "name":"Wallops",
        "lat":"37.854886", 
        "lon":"-75.512936", 
        "el_meters":"3.8", 
        "tz":"US/Eastern",
        "weather_url":"https://forecast.weather.gov/MapClick.php?lat=37.9407&lon=-75.4674#.XEng_FxKi71",
        "minimum_elevation_angle":"0.0",
        "show_operations_hours":"False",
        "operations_start_hour":"6", 
        "operations_start_minute":"0", 
        "operations_end_hour":"23", 
        "operations_end_minute":"30",
        "aer_min_el":"10",
        "aer_keyhole_el":"75",
        "good_sectors": [
            {
                "min_az":"0",
                "max_az":"360",
                "min_el":"10",
                "max_el":"75"
            }
        ],
        "bad_sectors": [
            {
                "min_az":"246",
                "max_az":"258",
                "min_el":"0",
                "max_el":"12"
            }
        ]
    }
}
