{
    "report_type":"AzEl Tabular Text",
    "base_output_directory":"/var/www/html/test/stf1",
    "timezone":"US/Eastern",
    "start_day":"0",
    "end_day":"0",
    "time_step_seconds":"15",
    "satellite": {
        "number":"43852",
        "url":"http://marksuder.ddns.net/stf1/stf1/electrontles.tle"
    },
    "ground_station": {
        "name":"Wallops",
        "lat":"37.854886", 
        "lon":"-75.512936", 
        "el_meters":"3.8", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"0.0"
    }
}
