{
    "report_type":"Satellite Overflight",
    "base_output_directory":"/var/www/html/test/stf1-over-wv",
    "timezone":"US/Eastern",
    "common_satellite_name":"STF-1",
    "common_ground_station_name":"West Virginia",
    "satellite": {
        "number":"43852",
        "url":"http://marksuder.ddns.net/stf1/stf1/electrontles.tle"
    },
    "ground_station": {
        "name":"Fairmont",
        "lat":"39.50417", 
        "lon":"-80.218615", 
        "el_meters":"359.664", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"0.0",
        "show_operations_hours":"False"
    }
}
