{
    "report_type":"Satellite HTML",
    "base_output_directory":"/var/www/html/test/stf1-like",
    "timezone":"US/Eastern",
    "inviews":"True",
    "insun":"False",
    "start_day":"0",
    "end_day":"42",
    "satellite": {
        "number":"43693",
        "url":"http://www.celestrak.com/NORAD/elements/tle-new.txt"
    },
    "ground_stations": [
        {
            "name":"Wallops",
            "lat":"37.854886", 
            "lon":"-75.512936", 
            "el_meters":"3.8", 
            "tz":"US/Eastern",
            "minimum_elevation_angle":"0.0",
            "show_operations_hours":"False",
            "operations_start_hour":"6", 
            "operations_start_minute":"0", 
            "operations_end_hour":"23", 
            "operations_end_minute":"30"
        },
        {
            "name":"Greenbank 20m",
            "lat":"38.43685028", 
            "lon":"-79.825518056", 
            "el_meters":"842.0", 
            "tz":"US/Eastern",
            "minimum_elevation_angle":"0.0",
            "show_operations_hours":"False"
        }
    ]
}
