{
    "report_type":"Inview List",
    "base_output_directory":"/var/www/html/test/stf1-wallops-inviews",
    "timezone":"US/Eastern",
    "start_day":"1",
    "end_day":"1",
    "satellite": {
        "number":"43852",
        "url":"http://www.celestrak.com/NORAD/elements/tle-new.txt"
    },
    "ground_station": {
        "name":"Wallops",
        "lat":"37.854886", 
        "lon":"-75.512936", 
        "el_meters":"3.8", 
        "minimum_elevation_angle":"0.0"
    }
}
