{
    "report_type":"Ground Station HTML",
    "base_output_directory":"/var/www/html/test/wallops",
    "timezone":"US/Eastern",
    "inviews":"True",
    "start_day":"0",
    "end_day":"18",
    "ground_station": {
        "name":"Wallops",
        "lat":"37.854886", 
        "lon":"-75.512936", 
        "el_meters":"3.8", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"0.0",
        "show_operations_hours":"True",
        "operations_start_hour":"00", 
        "operations_start_minute":"0", 
        "operations_end_hour":"23", 
        "operations_end_minute":"59"
    },
    "satellites": [
        {
            "name":"DELLINGR",
            "number":"43021",
            "url":"http://www.celestrak.com/NORAD/elements/cubesat.txt"
        },
        {
            "name":"CubeRRT",
            "number":"43546",
            "url":"http://www.celestrak.com/NORAD/elements/stations.txt"
        },
        {
            "name":"TempestD",
            "number":"43547",
            "url":"http://www.celestrak.com/NORAD/elements/stations.txt"
        },
        {
            "name":"HaloSat",
            "number":"43549",
            "url":"http://www.celestrak.com/NORAD/elements/stations.txt"
        },
        {
            "name":"SHIELDS",
            "number":"43850",
            "url":"http://marksuder.ddns.net/wallops/wallops/electrontles.tle"
        },
        {
            "name":"STF-1",
            "number":"43852",
            "url":"http://marksuder.ddns.net/wallops/wallops/electrontles.tle"
        },
        {
            "name":"CERES",
            "number":"43853",
            "url":"http://marksuder.ddns.net/wallops/wallops/electrontles.tle"
        },
        {
            "name":"ALBUS",
            "number":"43862",
            "url":"http://marksuder.ddns.net/wallops/wallops/electrontles.tle"
        },
        {
            "name":"ELFINA",
            "number":"43617",
            "url":"http://www.celestrak.com/NORAD/elements/cubesat.txt"
        }
    ]
}
