# ignore objects and archives, anywhere in the tree.
*.[oa]
*.so


# Executables
*.bin


# Tables
*.tbl


# gcov files
*.gcda
*.gcno

# Emacs/editor temp files
*~

# Eclipse files
language.settings.xml
org.eclipse.*
.project
.cproject


# cscope files
cscope.*
